@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <section class="personalia">
        <section class="personalia__header">
            <img class="person-logo" src="images/person-pasfoto.png">
            <div>
                <h1 class="person-name">Roban Visser</h1>
            </div>
        </section>
        <section class="personalia__body">
            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Opleidingen</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">HBO-ICT</h4>
                </div>
                <p class="profile-content__period">Windesheim, Zwolle</p>
            </div>

            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Personalia</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <ul>
                    <li class="profile-content__list">
                        <p class="profile-content">robanvisser@gmail.com</p>
                    </li>
                    <li class="profile-content__list">
                        <p class="profile-content">31683605400</p>
                    </li>
                    <li class="profile-content__list">
                        <p class="profile-content">
                            Gooiland 29 <br>
                            9405 KA Assen
                        </p>
                    </li>
                </ul>
            </div>
        </section>
        

        
        
    </section>

    <section class="profile">
        <section class="profile-content">
            <div class="profile-content__category--hidden-mobile">
                <h3 class="profile-content__category-title">Profiel</h3>
                <hr>
            </div>

            <div class="profile-content__element--hidden-mobile">
                <div class="profile-content__element-header">
                </div>
                <p class="profile-content__description">
                    Als software developer ben ik bekwaam in het onderzoeken van
                    technische problemen en het zoeken van een bijbehorende oplossing.
                <p>
            </div>
        </section>

    </section>
</div>
