@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <section class="personalia">

        <img class="person-logo" src="images/person-pasfoto.png">
        <h1 class="person-name">Roban Visser</h1>

        <div class="profile-content__category--hidden-mobile">
            <h3 class="profile-content__category-title">Profiel</h3>
            <hr>
        </div>

        <div class="profile-content__element--hidden-mobile">
            <div class="profile-content__element-header">
            </div>
            <p class="profile-content__description">
                Als software developer ben ik bekwaam in het onderzoeken van
                technische problemen en het zoeken van een bijbehorende oplossing.
            <p>
        </div>
    </section>

    <section class="profile">
        <section class="profile-content">
            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Opleidingen</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">HBO-ICT</h4>
                    <p class="profile-content__period">mei 2023 - heden</p>
                </div>
                <p class="profile-content__institute">Windesheim, Zwolle</p>
            </div>

            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Personalia</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">E-mail</h4>
                    <p class="profile-content__period">robanvisser@gmail.com</p>
                </div>
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Telefoonnummer</h4>
                    <p class="profile-content__period">31683605400</p>
                </div>
                <div class="profile-content__element-header">
					<h4 class="profile-content__title">Locatie</h4>
					<p class="profile-content__period">
						Gooiland 29 <br>
						9405 KA Assen
					</p>
				</div>

            </div>
        </section>

    </section>
</div>
